Package: bz.jed.shit-slices
Name: 💩 Slices
Depends: coreutils, coreutils-bin, libactivator, com.bingner.plutil
Version: 0.0.4
Architecture: iphoneos-arm
Description: Works with instagram and snapchat v10.46.0
Maintainer: Jed
Author: Jed
Section: Tweaks
